// Importar variáveis
@import '../../styles/variables.scss';

// Estilos principais
.cover__container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  max-height: 600px;
  background-image: url('/assets/capa-cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover__content {
  box-sizing: border-box;
  padding: 20px;
  width: 40%;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: $font-size-large;
    color: $secondary-color;
  }

  p {
    text-align: justify;
    font-weight: none;
    padding: 15px;
    margin: 0;
    font-size: $font-size-medium  * 0.45;
    color: $white;
  }

  .call_to_action {
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: $font-size-small;
    font-weight: 500;
    background-color: $secondary-color;
    color: $primary-color; 
    text-decoration: none;

    
    &:hover {
      background-color: $tertiary-color;
      color: $white;
      transition: background-color 0.5s ease-in-out;
    }
    svg {
      margin-left: 8px;
      font-weight: 400;
    }
  }
}

@media(max-width: 1615px){
  .cover__content{
    width: 60%;
  }
}

// Tablet e maior
@media (max-width: $desktop) {
  .cover__content{
    width: 60%;
  }

  .cover__content h1 {
    text-align: center;
    font-size: $font-size-medium * 0.85;
  }
  .cover__content p {  
    font-size: $font-size-small * 0.85; 
  }
  .cover__content .call_to_action {
   width: 80%;
  }

}

// Mobile
@media (max-width: $mobile) {
  .cover__container {
    height: 600px;
  }

  .cover__content {
    width: 80%;
  }
  .cover__content h1 {
    font-size: $font-size-medium * 0.80;
  }

  .cover__content p {  
    font-size: $font-size-small; 
  }
}

@media (max-width: $mobile-small){
  .cover__content{
    width: 95%;
    height: 100%;
  }
  .cover__container {
    height: 750px;
  }
}


