// Cores
$primary-color: #122a4e;    
$secondary-color: #FCDDBC;
$tertiary-color: #56A3A6;
$quaternary-color: #5E0B15;
$white: #FFFFFF;            
$medium-gray: #DDDDDD;      
$black: #000;

// Fontes
$font-family-default: 'Cambria', serif;
$font-family-secondary: 'Montserrat', sans-serif;

// Tamanhos de fonte
$font-size-xsmall: 0.8rem;
$font-size-small: 1.6rem;
$font-size-medium: 2.4rem;
$font-size-large: 3.2rem;
$font-size-xlarge: 4.0rem;
$font-size-xxlarge: 4.8rem;
$font-size-huge: 5.6rem;
$font-size-xhuge: 6.4rem;

// Media queries
$lte-medium: '(max-width: 768px)';

// Espaçamentos
$spacing-xsmall: 0.8rem;
$spacing-small: 1.6rem;
$spacing-medium: 2.4rem;
$spacing-large: 3.2rem;
$spacing-xlarge: 4.0rem;
$spacing-xxlarge: 4.8rem;
$spacing-huge: 5.6rem;
$spacing-xhuge: 6.4rem;
