// Importar variáveis
@import '../../styles/variables.scss';

.about__container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 550px;
}

.about__text {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 100%;
  flex-direction: column;

  h2 {
    padding: 0;
    margin: 0;
    font-size: $font-size-medium;
  }

  p {
    text-align: justify;
    padding: 0;
    margin: 10px 20px;
    font-size: $font-size-small;
  }
}

.about__image {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 100%;
}

.about__image img {
  width:400px;
  height: 500px; 
  border-radius: 25px;
}

// Estilos para tablet
@media (max-width: $desktop-x) {
  .about__container{    
    height: 750px;
  }
}

// Estilos para tablet
@media (max-width: $desktop) {
  .about__container{    
    height: 850px;
  }
  .about__image img {   
      width: 350px;
      height: 500px; 
  }
}

// Estilos para mobile
@media (max-width: $mobile) {
  .about__container {
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 1000px;
  }

  .about__text {
    width: 100%;
    height: 48%;

    h2 {
      padding: 0;
      margin: 0;
      font-size: $font-size-medium * 0.75;
    }

    p {
      font-size: $font-size-small * 0.75;
    }
  }

  .about__image {    
    padding: 0;
    margin: 0;
    height: 48%;
    width: 100%;  
  }

}

@media(max-width: $mobile-small){
  .about__container{
    height: 1300px;
  }
  .about__image img {
    width: 90%;
    height: 95%; 
  }
}