// Importar variáveis
@import '../../styles/variables.scss';

.about__container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 550px;
}

.about__text {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 100%;
  flex-direction: column;

  h2 {
    padding: 0;
    margin: 0;
    font-size: $font-size-medium;
  }

  p {
    text-align: justify;
    padding: 0;
    margin: 10px 20px;
    font-size: $font-size-xsmall;
  }
}

.about__image {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 100%;
}

.about__image img {
  width: 40%;
  height: 80%;
  border-radius: 25px;
}

// Estilos para tablet
@media (max-width: $desktop) {
  // Adicione quaisquer ajustes específicos para tablets aqui
}

// Estilos para mobile
@media (max-width: $mobile) {
  .about__container {
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .about__text {
    width: 100%;
    height: 48%;

    h2 {
      padding: 0;
      margin: 0;
      font-size: $font-size-xsmall;
    }

    p {
      font-size: $font-size-xsmall * 0.75;
    }
  }

  .about__image {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 48%;
  }

  .about__image img {
    width: 65%;
    height: 100%; 
  }
}
