@import '../../styles/variables.scss';
.area__container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  background-image: url('/assets/area-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  p {
    margin: 15px;
    text-align: justify;
    font-size: $font-size-small;
    color: $white;
  }
}

.title__area_of_expansive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    margin: 0;
    padding: 0;
    font-size: $font-size-medium;
    color: $secondary-color;
  }
}

.area_of_expansive {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px; 

  article {
    text-align: center; 
    max-width:500px; 
  }

  h5 {
    margin: 10px;
    padding: 0;
    font-size: $font-size-small;
    color: $white;
  }

  p {
    margin: 0;
    padding: 0;
  }
}
//tablete
@media (max-width: $desktop) {
  .area__container{
    
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .title__area_of_expansive {
    padding-bottom: 10px;
    margin: 0 auto;
  }
  
 .area_of_expansive p{
  padding: 15px 15px 5px 15px;
  font-size: $font-size-small;
 }
}

// Estilos para mobile
@media (max-width: $mobile) {
  .area__container {
    box-sizing: border-box;
    align-items: center;
    height: 900px;
  }
  .area_of_expansive {
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
}

@media (max-width: $mobile-small) {
  .area_of_expansive h5 {
    margin-bottom: 0;
  }
  .area__container {
    height: 700px;
  }
}
